body {margin: 0; padding: 0;}

#afta-laportada{
        width: 100%;
        height: auto;
}

#antofagasta {
    width: 50%;
    max-width: 420px;
}

#antofagasta img {
    height: 120px;
    object-fit: cover;
}

/* pantallas medianas */
@media (min-width: 768px) {
    #antofagasta {
        max-width: 520px;
    }

    #antofagasta img {
        height: 320px;
    }
}

/* pantallas grandes */
@media (min-width: 1200px) {
    #antofagasta {
        max-width: 600px;
    }

    #antofagasta img {
        height: 360px;
    }
}

.card { 
    transition: all 0.3s
}
.card:hover {
    transform: scale(1.05);
}

.img-fixed {
  height: 140px;
  object-fit: cover;
}
